.Entete{
    margin:-10px 0 0 0;
    padding: 3vh 5vw;
    background-color: #88A6B5;
    color: white;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        text-align: center;
        padding:0 150px;
    }

    .navPrincipale{
        display: flex;
        list-style-type: none;

        button{
            background-color: transparent;
            border: none;
            outline: none;
            font-family:'Dosis', sans-serif;
            font-size: 1em;
            letter-spacing: 0.05em;
            color: whitesmoke;
            &:hover{
                cursor: pointer;
            }
            &:focus{
                outline: none;
                border: none;
            }
            &:active{
                color: #31647F;
            }
            li{
                font-size: 1.5em;
                margin-right: 2.5vw;
            }
        }
        
    }
    .prenomNom{
        font-size:3em;
    }
   
}

//TABLETTE
@media screen and (min-width: 769px) and (max-width: 1280px)  {
    .Entete{
        margin:-10px 0 0 0;
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding: 1vh 5vw;

        .navPrincipale{
            display: none;
        }
        p{
            text-align: center;
            padding:0;
        }
    }
 }


//MOBILE
@media screen and (max-width: 768px) {
    .Entete{
        margin:-10px 0 0 0;
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding: 1vh 5vw;

        .navPrincipale{
            display: none;
        }
        p{
            text-align: center;
            padding:0;
        }
    }
}