.vert{
    border:2px solid green;
}
.bleu{
    border:2px solid blue;
}

.Icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 25px;
    // border: none;
    outline: none;
    font-family:'Dosis', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    background-color: transparent;
    &:hover{
        cursor: pointer;   
    }
    &:focus{
        outline: none;
        border: none;
    }
    img{
        width:150px;
        height: 150px;
    }
    .nomIcone{
        display: flex;
        color: #424852;
    }
   
}
@media screen and (max-width: 768px) {
    .Icones{
        margin:0 0 0 35px;
        img{
            width:60px;
            height: 60px;
        }
        .nomIcone{
            display: none;
            font-size: 0.8em;
        }
    }
}