
.Icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 25px;
    // border: none;
    outline: none;
    font-family:'Dosis', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    background-color: transparent;
    
    .nomIcone{
        display: flex;
        color: #424852;
      
    }
    img{
        width:150px;
        height: 150px;
    }
   
}

//TABLETTE
@media screen and (min-width: 769px) and (max-width: 1280px)  {
    .Icones{
        margin:0 0 0 42px;
       
        .nomIcone{
            font-size: 0.65em;
            width: 52px;
            text-align: center;
            justify-content:center;
        }
        img{
            width:75px;
            height: 75px;
        }
    }
}

//MOBILE
@media screen and (max-width: 768px) {
    .Icones{
        margin:0 0 0 42px;
       
        .nomIcone{
            font-size: 0.55em;
            width: 52px;
            text-align: center;
            justify-content:center;
        }
        img{
            width:52px;
            height: 52px;
        }
    }
}