html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family:'Dosis', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    background-color:whitesmoke;
    overflow-x: hidden;
}

#racine {
    width: 100%;
    margin: 0 auto;
}

.cacher {
    display: none;
}
* {
    box-sizing: border-box;
  }
  
  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }