.SectionProjets{
    color: #424852;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .titreSection{
        font-size: 2em;
        width: 35vw; 
        text-align: center; 
        border-bottom: 2px solid #424852; 
        line-height: 0.1em;
        margin-top: 5vh;
        span{
            background:whitesmoke; 
            padding:0 2vw; 
        }
    }

    .listeProjets{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80vw;
    }
    .listeIcones{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .backTop{
        border: none;
        outline: none;
        background-color: transparent;
        opacity: 0.7;
        color: #424852;
        &:hover{
            cursor: pointer;
        }
        &:focus{
            outline: none;
            border: none;
        }
        &:active{
            color: #31647F;
            opacity: 1;
        }
    }
}