.Pied2Page{
    margin:0 0 -10px 0;
    padding: 3vh 7vw;
    background-color: #88A6B5;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
    .linked{
        border: none;
        padding: 0;
        background-color: transparent;
        color: whitesmoke;
        &:hover{
            cursor: pointer;
            border: none;
            outline: none;
        }
        &:focus{
            outline: none;
            border: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .Pied2Page{
        font-size: 0.8em;
        margin:0 0 -10px 0;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        padding:6px;
    }
}