.Projet{
    width: 350px;
    height: 350px;
    margin: 10px;
    padding:5px;
    background-color: #31647F;
    color: white;
    overflow: hidden;
    text-align: center;

    .plusInfo{
        background-color:transparent;
        padding: 0;
        color: whitesmoke;
        border: none;
        margin-left: 300px;
        &:hover{
            cursor: pointer;
            border: none;
            outline: none;
        }
        &:focus{
            outline: none;
            border: none;
        }
    }
    p{
        height: 250px;
    }
    .descProjet{
        text-align: start;
        padding-left: 10px;
    }
    .imgProjet{
        width:100%;
        height: 100%;
        object-fit: cover;
        // margin-top: -307px;
    }
    .ouvreInfo{
        position: absolute;
        margin-left: 310px;
        font-size: 1.6em;
        background-color: transparent;
        border: none;
        outline: none;
        &:hover{
            cursor: pointer;
            border: none;
            outline: none;
        }
        &:focus{
            outline: none;
            border: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .Projet{
    width: 280px;
    height: 280px;
    margin: 10px 10px 15px 25px;

    .ouvreInfo{
        position: absolute;
        margin-left: 240px;
    }
    }
}
