.Projet{
    width: 350px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    background-color: #444;
    color: white;
    border: 1px solid #555;
    overflow: hidden;
    text-align: center;
}