
button{
        background-color: transparent;
        border: none;
        outline: none;
        font-family:'Dosis', sans-serif;
        font-size: 1em;
        letter-spacing: 0.05em;
        color: whitesmoke;
        &:hover{
            cursor: pointer;
        }
        &:focus{
            outline: none;
            border: none;
        }
    }
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 20px;
    top: 30px;
    // background-color:#88A6B5;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #424852;
    margin-left: 0px;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #31647F;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background:whitesmoke;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #31647F;
    opacity: 0.9;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #31647F;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    overflow-x: hidden;
    overflow-y:hidden;
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  /* Individual item */
.bm-item {
    display: inline-block;
  
    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: #ffffff;
  }
  
 //MOBILE ET TABLTTE AFFICHAGE DU MERNU BURGER
  @media only screen and (min-width: 1280px) {
    .bm-burger-button {
        display: none;
      }
  }

